{% extends 'base.html' %}

{% block content %}
<div class="match_in_game">
      <div class="home_team">

        <div class="team_detail">
          <h1 class="text-center">{{ home_team.name }}</h1>
        </div>

        <div class="team_players">
          <table class="table table-dark text-center table-sm">
            <thead>
              <tr>
                <td>Name</td>
                <td>Goals</td>
                <td>Shoot</td>
                <td>Pass Success</td>
                <td>Pass Unsuccess</td>
              </tr>
            </thead>

            <tbody>
              {% for player in home_team_players %}
              <tr>
                <td>{{player.name}}</td>
                <td><button class="button-min goal" id="goal-min-{{player.pk}}">-</button><span id="goal-val-{{player.pk}}">{{player.goal}}</span><button class="button-plus goal" id="goal-plus-{{player.pk}}">+</button></td>
                <td><button>-</button><span>{{player.shot_on_target}}</span><button>+</button></td>
                <td><button>-</button><span>{{player.pass_complete}}</span><button>+</button></td>
                <td><button>-</button><span>{{player.pass_incomplete}}</span><button>+</button></td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
      <div class="away_team ">

        <div class="team_detail">
          <h1 class="text-center">{{ away_team.name }}</h1>
        </div>

        <div class="team_players">
          <table class="table table-dark text-center table-sm">
            <thead>
              <tr>
                <td>Name</td>
                <td>Goals</td>
                <td>Shoot</td>
                <td>Pass Success</td>
                <td>Pass Unsuccess</td>
              </tr>
            </thead>

            <tbody>
              {% for player in away_team_players %}
              <tr>
                <td>{{player.name}}</td>
                <td><button class="button-min goal" id="goal-min-{{player.pk}}">-</button><span id="goal-val-{{player.pk}}">{{player.goal}}</span><button class="button-plus" id="goal-plus-{{player.pk}}">+</button></td>
                <td><button>-</button><span>{{player.shot_on_target}}</span><button>+</button></td>
                <td><button>-</button><span>{{player.pass_complete}}</span><button>+</button></td>
                <td><button>-</button><span>{{player.pass_incomplete}}</span><button>+</button></td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>

      </div>

  </div>

{% endblock content %}

{% block script %}
  
  <script> 
   $(document).ready(function(){
  
    var $goal_button = $(".goal");

    $goal_button.click(function() {
      var id = $(this).attr("id"); 
      
      {% for player in home_team_players %}
      
      if (id === "goal-min-{{player.pk}}"){
        var $goal_text = $("#goal-val-{{player.pk}}");
        var nim_number = {{player.pk}};
        var goal = parseInt($goal_text.text());
        console.log("minus");
        var operator = 'min';
      }

      else if (id === "goal-plus-{{player.pk}}") {
        var goal = parseInt($("#goal-val-{{player.pk}}").text());
        var operator = 'plus'
      };

      {% endfor %}

      $.ajax({
        url: '/players/update/',
        type: 'POST',
        data: {
          nim: nim_number,
          stat_type: 'goal',
          operation : operator,
          csrfmiddlewaretoken : '{{ csrf_token }}'
        },
      })
      .done(function() {
        $goal_text.text(goal);
        console.log("success");
      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        console.log(goal);
        console.log("complete");
      });

    });  



  {% for player in away_team_players %}
  // <!-- GOAL BUTTON -->
  // <!-- Goal min -->

    $("#goal-min-{{player.pk}}").click(function(){
      goal--;
      $("#goal-val-{{player.pk}}").text(goal);
    });   
  // <!-- Goal plus -->

    $("#goal-plus-{{player.pk}}").click(function(){
      goal++;
      $("#goal-val-{{player.pk}}").text(goal);
    });   

  }); 
  {% endfor %}
  </script>

{% endblock script  %}

