{% extends 'base.html' %}

{% block content %}

{% if match.available %}
<div class="match_in_game">

      <div class="home_team_in_game">
        <div class="team_detail">
          <h1 class="text-center font-weight-bold">{{ home_team.name }}</h1>
          <div class="img_container">
          {% if home_team.logo %}
          <img src="{{home_team.logo.url}}" class="team_logo mb-2"></img>
          {% endif %}
          </div>
       </div> 

        <div class="team_players">
          <table class="table table-dark text-center table-sm">
            <thead>
              <tr>
                <td>Name</td>
                <td>Goal</td>
                <td>PC</td>
                <td>PIC</td>
                <td>Shot On</td>
                <td>Shot Off</td>
                <td>Shot Acc</td>
                <td>Interc</td>
                <td>Saves</td>
                <td>Tackle</td>
                <td>Foul Cmtd</td>
                <td>Foul Sfrd</td>
                <td>YC</td>
                <td>RC</td>
              </tr>
            </thead>

            <tbody>
              {% for player in home_team_players %}
              <tr>
              <td>{{player.name}}</td>
                <td><button class="btn btn-danger goal btn-sm" id="goal-min-{{player.pk}}-home">-</button><span class="ml-2 mr-2" id="goal-val-{{player.pk}}-home">{{player.goal}}</span><button class="btn btn-success goal btn-sm" id="goal-plus-{{player.pk}}-home">+</button></td>

                <td><button class="btn btn-danger pass_complete btn-sm" id="pass_complete-min-{{player.pk}}-home">-</button><span class="ml-2 mr-2" id="pass_complete-val-{{player.pk}}-home">{{player.pass_complete}}</span> <button class="btn btn-success pass_complete btn-sm" id="pass_complete-plus-{{player.pk}}-home">+</button></td>

                <td><button class="btn btn-danger pass_incomplete btn-sm" id="pass_incomplete-min-{{player.pk}}-home">-</button><span class="ml-2 mr-2" id="pass_incomplete-val-{{player.pk}}-home">{{player.pass_incomplete}}</span> <button class="btn btn-success pass_incomplete btn-sm" id="pass_incomplete-plus-{{player.pk}}-home">+</button></td>
                
                <td><button class="btn btn-danger shot_on_target btn-sm" id="shot_on_target-min-{{player.pk}}-home">-</button><span class="ml-2 mr-2" id="shot_on_target-val-{{player.pk}}-home">{{player.shot_on_target}}</span> <button class="btn btn-success shot_on_target btn-sm" id="shot_on_target-plus-{{player.pk}}-home">+</button></td>
                
                <td><button class="btn btn-danger shot_off_target btn-sm" id="shot_off_target-min-{{player.pk}}-home">-</button><span class="ml-2 mr-2" id="shot_off_target-val-{{player.pk}}-home">{{player.shot_off_target}}</span><button class="btn btn-success shot_off_target btn-sm" id="shot_off_target-plus-{{player.pk}}-home">+</button></td>
                
                <td><span class="ml-2 mr-2" id="shot_percentage-val-{{player.pk}}-home">{{player.shot_percentage}}</span></td>
                
                <td><button class="btn btn-danger intercept btn-sm" id="intercept-min-{{player.pk}}-home">-</button><span class="ml-2 mr-2" id="intercept-val-{{player.pk}}-home">{{player.intercept}}</span><button class="btn btn-success intercept btn-sm" id="intercept-plus-{{player.pk}}-home">+</button></td>
                                
                <td><button class="btn btn-danger saves btn-sm" id="saves-min-{{player.pk}}-home">-</button><span class="ml-2 mr-2" id="saves-val-{{player.pk}}-home">{{player.saves}}</span><button class="btn btn-success saves btn-sm" id="saves-plus-{{player.pk}}-home">+</button></td>
                
                <td><button class="btn btn-danger tackle btn-sm" id="tackle-min-{{player.pk}}-home">-</button><span class="ml-2 mr-2" id="tackle-val-{{player.pk}}-home">{{player.tackle}}</span><button class="btn btn-success tackle btn-sm" id="tackle-plus-{{player.pk}}-home">+</button></td>
                
                <td><button class="btn btn-danger fouls_committed btn-sm" id="fouls_committed-min-{{player.pk}}-home">-</button><span class="ml-2 mr-2" id="fouls_committed-val-{{player.pk}}-home">{{player.fouls_committed}}</span><button class="btn btn-success fouls_committed btn-sm" id="fouls_committed-plus-{{player.pk}}-home">+</button></td>
                
                <td><button class="btn btn-danger fouls_suffered btn-sm" id="fouls_suffered-min-{{player.pk}}-home">-</button><span class="ml-2 mr-2" id="fouls_suffered-val-{{player.pk}}-home">{{player.fouls_suffered}}</span><button class="btn btn-success fouls_suffered btn-sm" id="fouls_suffered-plus-{{player.pk}}-home">+</button></td>
                
                <td><button class="btn btn-danger yellow_card btn-sm" id="yellow_card-min-{{player.pk}}-home">-</button><span class="ml-2 mr-2" id="yellow_card-val-{{player.pk}}-home">{{player.yellow_card}}</span><button class="btn btn-success yellow_card btn-sm" id="yellow_card-plus-{{player.pk}}-home">+</button></td>
                
                <td><button class="btn btn-danger red_card btn-sm" id="red_card-min-{{player.pk}}-home">-</button><span class="ml-2 mr-2" id="red_card-val-{{player.pk}}-home">{{player.red_card}}</span><button class="btn btn-success red_card btn-sm" id="red_card-plus-{{player.pk}}-home">+</button></td>
                
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>


      <h1 class="versus_text text-center mt-3 font-weight-bold">VS</h1>
      
      <div class="away_team_in_game">
        <div class="team_detail">
          <h1 class="text-center font-weight-bold">{{ away_team.name }}</h1>
          <div class="img_container">
          {% if away_team.logo %}
          <img src="{{away_team.logo.url}}" class="team_logo"></img>
          {% endif %}
          </div>
       </div> 
        
        <div class="team_players">
          <table class="table table-dark text-center table-sm">
            <thead>
              <tr>
                <td>Name</td>
                <td>Goal</td>
                <td>PC</td>
                <td>PIC</td>
                <td>Shot On</td>
                <td>Shot Off</td>
                <td>Shot Acc</td>
                <td>Interc</td>
                <td>Saves</td>
                <td>Tackle</td>
                <td>Foul Cmtd</td>
                <td>Foul Sfrd</td>
                <td>YC</td>
                <td>RC</td>
              </tr>
            </thead>

            <tbody>
              {% for player in away_team_players %}
              <tr>
                <td>{{player.name}}</td>
                <td><button class="btn btn-danger goal btn-sm" id="goal-min-{{player.pk}}-away">-</button><span class="ml-2 mr-2" id="goal-val-{{player.pk}}-away">{{player.goal}}</span><button class="btn btn-success goal btn-sm" id="goal-plus-{{player.pk}}-away">+</button></td>

                <td><button class="btn btn-danger pass_complete btn-sm" id="pass_complete-min-{{player.pk}}-away">-</button><span class="ml-2 mr-2" id="pass_complete-val-{{player.pk}}-away">{{player.pass_complete}}</span> <button class="btn btn-success pass_complete btn-sm" id="pass_complete-plus-{{player.pk}}-away">+</button></td>

                <td><button class="btn btn-danger pass_incomplete btn-sm" id="pass_incomplete-min-{{player.pk}}-away">-</button><span class="ml-2 mr-2" id="pass_incomplete-val-{{player.pk}}-away">{{player.pass_incomplete}}</span> <button class="btn btn-success pass_incomplete btn-sm" id="pass_incomplete-plus-{{player.pk}}-away">+</button></td>
                
                <td><button class="btn btn-danger shot_on_target btn-sm" id="shot_on_target-min-{{player.pk}}-away">-</button><span class="ml-2 mr-2" id="shot_on_target-val-{{player.pk}}-away">{{player.shot_on_target}}</span> <button class="btn btn-success shot_on_target btn-sm" id="shot_on_target-plus-{{player.pk}}-away">+</button></td>
                
                <td><button class="btn btn-danger shot_off_target btn-sm" id="shot_off_target-min-{{player.pk}}-away">-</button><span class="ml-2 mr-2" id="shot_off_target-val-{{player.pk}}-away">{{player.shot_off_target}}</span><button class="btn btn-success shot_off_target btn-sm" id="shot_off_target-plus-{{player.pk}}-away">+</button></td>
                
                <td><span class="ml-2 mr-2" id="shot_percentage-val-{{player.pk}}-away">{{player.shot_percentage}}</span></td>
                
                <td><button class="btn btn-danger intercept btn-sm" id="intercept-min-{{player.pk}}-away">-</button><span class="ml-2 mr-2" id="intercept-val-{{player.pk}}-away">{{player.intercept}}</span><button class="btn btn-success intercept btn-sm" id="intercept-plus-{{player.pk}}-away">+</button></td>
                
                <td><button class="btn btn-danger saves btn-sm" id="saves-min-{{player.pk}}-away">-</button><span class="ml-2 mr-2" id="saves-val-{{player.pk}}-away">{{player.saves}}</span><button class="btn btn-success saves btn-sm" id="saves-plus-{{player.pk}}-away">+</button></td>
                
                <td><button class="btn btn-danger tackle btn-sm" id="tackle-min-{{player.pk}}-away">-</button><span class="ml-2 mr-2" id="tackle-val-{{player.pk}}-away">{{player.tackle}}</span><button class="btn btn-success tackle btn-sm" id="tackle-plus-{{player.pk}}-away">+</button></td>
                
                <td><button class="btn btn-danger fouls_committed btn-sm" id="fouls_committed-min-{{player.pk}}-away">-</button><span class="ml-2 mr-2" id="fouls_committed-val-{{player.pk}}-away">{{player.fouls_committed}}</span><button class="btn btn-success fouls_committed btn-sm" id="fouls_committed-plus-{{player.pk}}-away">+</button></td>
                
                <td><button class="btn btn-danger fouls_suffered btn-sm" id="fouls_suffered-min-{{player.pk}}-away">-</button><span class="ml-2 mr-2" id="fouls_suffered-val-{{player.pk}}-away">{{player.fouls_suffered}}</span><button class="btn btn-success fouls_suffered btn-sm" id="fouls_suffered-plus-{{player.pk}}-away">+</button></td>
                
                <td><button class="btn btn-danger yellow_card btn-sm" id="yellow_card-min-{{player.pk}}-away">-</button><span class="ml-2 mr-2" id="yellow_card-val-{{player.pk}}-away">{{player.yellow_card}}</span><button class="btn btn-success yellow_card btn-sm" id="yellow_card-plus-{{player.pk}}-away">+</button></td>
                
                <td><button class="btn btn-danger red_card btn-sm" id="red_card-min-{{player.pk}}-away">-</button><span class="ml-2 mr-2" id="red_card-val-{{player.pk}}-away">{{player.red_card}}</span><button class="btn btn-success red_card btn-sm" id="red_card-plus-{{player.pk}}-away">+</button></td>
              
              </tr>
              {% endfor %}
            </tbody>

          </table>


        </div>

        
      </div>




  </div>

{% endif %}
    <div class="head_to_head mt-4 mb-4 p-2" id="head2head">
      
      <h1 class="text-center font-weight-bold head_to_head_title">HEAD TO HEAD</h1>
      
      <div class="home_stats text-center" id="home_stats"> 
        <h2 class="font-weight-bold">{{home_team.name}}</h2>
        <p id ="head_to_head-goal-home">{{match.goal_home}}</p>
        <p id ="head_to_head-ball_possession-home">{{match.ball_possession_home}}%</p>
        <p id ="head_to_head-pass_complete-home">{{match.pass_complete_home}}</p>
        <p id ="head_to_head-pass_incomplete-home">{{match.pass_incomplete_home}}</p>
        <p id ="head_to_head-shot_on_target-home">{{match.shot_on_target_home}}</p>
        <p id ="head_to_head-shot_off_target-home">{{match.shot_off_target_home}}</p>
        <p id ="head_to_head-intercept-home">{{match.intercept_home}}</p>
        <p id ="head_to_head-saves-home">{{match.saves_home}}</p>
        <p id ="head_to_head-tackle-home">{{match.tackle_home}}</p>
        <p id ="head_to_head-fouls_commited-home">{{match.fouls_committed_home}}</p>
        <p id ="head_to_head-fouls_suffered-home">{{match.fouls_suffered_home}}</p>
        <p id ="head_to_head-yellow_card-home">{{match.yellow_card_home}}</p>
        <p id ="head_to_head-red_card-home">{{match.red_card_home}}</p>
      </div>
      <div class="stats_type text-center font-weight-bold">
        <h2>VS</h2>
        <p>Goal</p>
        <p>Ball Possession</p>
        <p>Pass Complete</p>
        <p>Pass Incomplete</p>
        <p>Shot On Target</p>
        <p>Shot Off Target</p>
        <p>Intercept</p>
        <p>Saves</p>
        <p>Tackle</p>
        <p>Fouls Commited</p>
        <p>Fouls Suffered</p>
        <p>Yellow Card</p>
        <p>Red Card</p>
      </div>

      <div class="away_stats text-center" id="away_stats">
        <h2 class="font-weight-bold">{{away_team.name}}</h2>
        <p id ="head_to_head-goal-away" >{{match.goal_away}}</p>
        <p id ="head_to_head-ball_possession-away">{{match.ball_possession_away}}%</p>
        <p id ="head_to_head-pass_complete-away">{{match.pass_complete_away}}</p>
        <p id ="head_to_head-pass_incomplete-away">{{match.pass_incomplete_away}}</p>
        <p id ="head_to_head-shot_on_target-away">{{match.shot_on_target_away}}</p>
        <p id ="head_to_head-shot_off_target-away">{{match.shot_off_target_away}}</p>
        <p id ="head_to_head-intercept-away">{{match.intercept_away}}</p>
        <p id ="head_to_head-saves-away">{{match.saves_away}}</p>
        <p id ="head_to_head-tackle-away">{{match.tackle_away}}</p>
        <p id ="head_to_head-fouls_commited-away">{{match.fouls_committed_away}}</p>
        <p id ="head_to_head-fouls_suffered-away">{{match.fouls_suffered_away}}</p>
        <p id ="head_to_head-yellow_card-away">{{match.yellow_card_away}}</p>
        <p id ="head_to_head-red_card-away">{{match.red_card_away}}</p>
      </div>
      {% if match.available %}
      <button class="btn btn-danger ml-3 mt-3 p-3" id="end_game">End game</button>
    </div>
    
    <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="add_match_popup">
      <span class="close">&times;</span>
        <div class="form-group">
        <p>You are going to end the game.
        You cannot modify the data for this match if you continue.
        Are you sure?</p>

        
        <button class="btn btn-danger" id="submit_end_game">Yes, I am sure</button>

        </div>
    </div>

    </div>
  {% endif %}



{% endblock content %}

{% block script %}
  
  <script> 
    var $modal = $('#myModal');
    // Get the button that opens the modal
    var $btn = $("#end_game");

    var $btn_submit = $("#submit_end_game");
    // Get the <span> element that closes the modal
    var $span = $(".close");
    

    $btn.click(function() {
        $modal.css("display","block") ;
    }); 
    // When the user clicks on <span> (x), close the modal
    $span.click(function(){
      $modal.css("display","none") ;
    });

    var send_data = function (nim_number,type,operator,side,match_id,home_team_id, away_team_id){
      $.ajax({
        url: '/players/update/',
        type: 'POST',
        data: {
          nim: nim_number,
          stat_type: type,
          operation : operator,
          side : side,
          match_id: match_id,
          home_team_id: home_team_id,
          away_team_id: away_team_id,
          csrfmiddlewaretoken : '{{ csrf_token }}'
        },
      })
      .done(function() {
        var value_id = "#"+ type + "-val-" + nim_number +"-" + side;
        var value_obj = $(value_id);
        var value = value_obj.text();

        if (operator === 'plus'){
          value++;
          value_obj.html(value);
        }
        else if (operator == 'min'){
          value--;
          value_obj.html(value);
        }

        if (type === 'shot_off_target' || type === 'shot_on_target'){
          var shot_acc_value = $("#shot_percentage-val-" + nim_number +"-" + side);
          var shot_on_target_value = parseInt($("#shot_on_target-val-"+nim_number+"-"+side).text());
          var shot_off_target_value = parseInt($("#shot_off_target-val-"+nim_number+"-"+side).text());

          if (shot_on_target_value+shot_off_target_value > 0){
            var percentage = shot_on_target_value / (shot_off_target_value+shot_on_target_value) *100;
          }
          else{
            var percentage = 0;
          }
          shot_acc_value.html(percentage.toFixed(2))
        }

        $("#home_stats").load(location.href + " #home_stats");
        $("#away_stats").load(location.href + " #away_stats");

        console.log("success");
      })
      .fail(function() {
        alert("Check your internet connection.");
        console.log("error");
      })
      .always(function() {
        var goal_value = {{ home_team.goal_for }}
        console.log(goal_value);
        console.log(nim_number);
        console.log(type);
        console.log(operator);
        console.log(side);
        console.log(match_id);
        console.log("complete");
      });
    }

    var evaluate_match = function(match_id, home_team_id, away_team_id, goal_home, goal_away) {
        $.ajax({
          url: '/match/evaluate',
          type: 'POST',
          data: {
            match_id:match_id,
            home_team_id : home_team_id,
            away_team_id : away_team_id,
            goal_home: goal_home,
            goal_away : goal_away,
            csrfmiddlewaretoken : '{{ csrf_token }}',
          },
        })
        .done(function() {
          alert("Successfully ended the match");
          window.location.reload();
          console.log("success");
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          $modal.css("display","none") ;  
          console.log("complete");
        });
    }



    // $("#submit_end_game").click(function()){
    //     evaluate_match(match_id, home_team_id, away_team_id, goal_home_value, goal_away_value);
    
    // }

    $("button").click(function() {
        var id = $(this).attr("id").split("-");

        var type = id[0];
        var operator = id[1];
        var nim_number = id[2];
        var side = id[3];
        var match_id = {{match.id}}
        var home_team_id = {{home_team.id}}
        var away_team_id = {{away_team.id}}



        if (id!="end_game" && id!="submit_end_game"){
          send_data(nim_number,type,operator,side,match_id,home_team_id, away_team_id);    
        } 
        
        
      });

    $btn_submit.click(function(){    
      var $goal_home = $("#head_to_head-goal-home");
      var $goal_away = $("#head_to_head-goal-away");
      var goal_home_value = parseInt($goal_home.text());
      var goal_away_value = parseInt($goal_away.text());      
      var match_id = {{match.id}}
      var home_team_id = {{home_team.id}}
      var away_team_id = {{away_team.id}}

      evaluate_match(match_id,home_team_id,away_team_id,goal_home_value, goal_away_value);
    });
  
   
  </script>

{% endblock script  %}

