{% extends 'base.html' %}

{% block content %}
<div class="team_list">

<h1 class="text-center mb-5 font-weight-bold">SCOREBOARD</h1>
  <div class="table-responsive">
	  <table class="scoreboard table table-striped table-bordered table-sm">

	    <thead class="thead-dark">
	      <tr>
	        <th>Team Name</th>
	        <th>W</th>
	        <th>L</th>
	        <th>D</th>
	        <th>GF</th>
	        <th>GA</th>
	        {% if request.user.is_authenticated %}
	        <th>Delete</th>
	        {% endif %}
	      </tr>
	    </thead>

	    <tbody>
	      {% for team in team_list %}
	      <tr>
	      <td><a href="{% url 'team_detail' team.pk %}">{{team.name}}</a></td>
	        <td>{{team.win}}</td>
	        <td>{{team.lose}}</td>
	        <td>{{team.draw}}</td>
	        <td>{{team.goal_for}}</td>
	        <td>{{team.goal_against}}</td>
	        {% if request.user.is_authenticated %}
	      <td><button class="btn btn-danger" id="delete-{{team.id}}">Delete</button></td>
	      	{% endif %}

	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
  
  </div>



{% if request.user.is_authenticated %}
<button class="btn btn-primary float-right" id="add_team">Add Team</button>

	<div id="myModal" class="modal">
	  <!-- Modal content -->
	  <div class="add_team_popup">
	    <span class="close">&times;</span>
	    	<div class="form-group">
	    	<form method="POST" id="add_team_form" enctype="multipart/form-data">
	    		{% csrf_token %}
	    		{{form.as_p}}
	    	</form>
	    	<button class="btn btn-success" id="submit_add_team">Add team</button>
	    	</div>
	  </div>

	</div>
{% endif %}

</div>

{% endblock content %}


{% block script %}
<script>
function getCookie(c_name) {
    if(document.cookie.length > 0) {
        c_start = document.cookie.indexOf(c_name + "=");
        if(c_start != -1) {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if(c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
}

$(function () {
    $.ajaxSetup({
        headers: {
            "X-CSRFToken": getCookie("csrftoken")
        }
    });
  });


var $modal = $('#myModal');
// Get the button that opens the modal
var $btn = $("#add_team");

var $btn_submit = $("#submit_add_team");
// Get the <span> element that closes the modal
var $span = $(".close");
// When the user clicks the button, open the modal 
var $name = $("#id_name");

$btn.click(function() {
    $modal.css("display","block") ;
}); 
// When the user clicks on <span> (x), close the modal
$span.click(function(){
	$modal.css("display","none") ;
});



var send_data = function(data, name){
	$.ajax({
		url: '/teams/add',
		type: 'POST',
		data: data,
		cache:false,
		processData: false,
		contentType: false,
		csrfmiddlewaretoken : getCookie("csrftoken"),
	})
	.done(function() {
		alert("Successfully added " + name)
		window.location.reload();
		console.log("success");
	})
	.fail(function() {
		console.log("error");
	})
	.always(function() {
		$modal.css("display","none") ;	
		console.log("complete");
	});

}

var delete_team = function(id){
  $.ajax({
    url: '/teams/delete',
    type: 'POST',
    data: {
      id : id,  
    },
    csrfmiddlewaretoken : getCookie("csrftoken"),
  })
  .done(function() {
    alert("Successfully deleted ")
    window.location.reload();
    console.log("success");
  })
  .fail(function() {
    console.log("error");
  })
  .always(function() {
    $modal.css("display","none") ;  
    console.log("complete");
  });
}

$btn_submit.click(function(){
	var data = new FormData($('form').get(0));
	var name_value = $name.val();
	send_data(data, name_value);

	});


$("button").click(function(){
  var id = $(this).attr("id").split("-");

  if (id[0]==="delete"){
    var id= parseInt(id[1]); 
    console.log(id);
    delete_team(id);
  }

})
// When the user clicks anywhere outside of the modal, close it

</script>
{% endblock script %}