{% extends 'base.html' %}

{% block content %}
<div class="team_logo">

</div>

<h1>Name: {{ team.name }}</h1>
<h1>Points: {{ team.points }}</h1>

<table class="player_list table table-striped table-bordered table-sm">

  <thead class="thead-dark">
    <tr>
      <th>NIM</th>
      <th>Name</th>
      <th>Goals</th>
      <th>Shoot</th>
      <th>Pass Success</th>
      <th>Pass Unsuccess</th>
    </tr>
  </thead>

  <tbody>
    {% for player in player_list %}
    <tr>
      <td>{{player.NIM}}</td>
      <td>{{player.name}}</td>
      <td>{{player.goals}}</td>
      <td>{{player.shoot}}</td>
      <td>{{player.pass_succees}}</td>
      <td>{{player.pass_unsuccess}}</td>
    </tr>

    {% endfor %}
    <!-- <button>DELETE</button> -->
  </tbody>
</table>
{% endblock content %}
